{% extends 'base.html' %}
{% load static %}
{% block title %} Benvenuto su EventsForIndies{% endblock %}
{% block content %}
    <div class="mt-5 text-center">
        <h1 class="display-4 text-dark">Assisti a eventi unici</h1>
        <p class="lead text-muted mx-auto">
            Benvenuto su EventsforIndies, la nuova piattaforma pensata per scoprire e partecipare agli eventi nella tua
            città e non solo!
        </p>
    </div>
    <div class="row justify-content-center">
        <h5 class="text-center">Prossimi eventi</h5>
        {% if upcoming_events %}
            <div class="col-12 col-md-8">
                <div id="eventCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        {% for event in upcoming_events %}
                            <button type="button" data-bs-target="#eventCarousel"
                                    data-bs-slide-to="{{ forloop.counter0 }}"
                                    {% if forloop.first %}class="active"{% endif %}
                                    aria-current="true" aria-label="Slide {{ forloop.counter }}">
                            </button>
                        {% endfor %}
                    </div>
                    <div class="carousel-inner">
                        {% for event in upcoming_events %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <img src="
                                        {% if event.image %}{{ event.image.url }}{% else %}{% static 'img/default_event_image.jpg' %}{% endif %}"
                                     alt="{{ event.title }}" class="d-block w-50 mx-auto rounded-2">
                                <a href={% url 'events:event_detail' event.id %}></a>
                                <div class="carousel-caption d-block justify-content-center w-50 mx-auto">
                                    <div class="bg-primary rounded-3 bg-opacity-50">
                                    <h5>{{ event.title }}</h5>
                                    <p>{{ event.description|truncatewords:10 }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% else %}
            <p class="text-center">Non ci sono eventi in programma a breve. Cerchi qualcosa in particolare? Usa la barra
                di ricerca o selezionalo dalla lista!</p>
        {% endif %}
    </div>
    {% if selling_out_events %}
        <div class="row mt-4">
            <h4 class="text-center text-danger bg-danger-subtle text-uppercase">!!!!Eventi in esaurimento!!!!</h4>
            {% for event in selling_out_events %}
                <div class="col-3 mb-4">
                    <div class="card h-100">
                        <a href={% url 'events:event_detail' event.id %}><img src="{{ event.image.url }}"
                                                                              class="card-img-top img-fluid"
                                                                              alt="{{ event.title }}"></a>
                        <div class="card-body">
                            <h5 class="card-title">{{ event.title }}</h5>
                            <p class="card-text">Solo {{ event.remaining_seats }} posti!</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <div class="text-center page-description py-3">
        <h1 class="page-description">
            Perché scegliere EventsForIndies?
        </h1>
        <p class="text-black-50">Questa piattaforma nasce per rispondere a un esigenza ben definita nel mercato negli
            ultimi anni: il ritorno all'intrattenimento indipendente.
            Con la nostra piattaforma, chiunque piccolo artista può farsi conoscere e comunicare i propri spettacoli a
            chiunque interessato!</p>
        <div class="row justify-content-evenly">
            <div class="col-12 col-md-6">
                <img src="{% static 'img/theatre.jpg' %}" alt="Theatre" class="img-fluid rounded-3 mb-3">
            </div>
            <div class="col-12 col-md-6">
                <img src="{% static 'img/comedian.jpg' %}" alt="Comedian" class="img-fluid rounded-3 mb-3">
            </div>
        </div>
        <h3>La nostra mission</h3>
        <p class="text-black-50">La nostra mission è quella di creare un ponte tra artisti e pubblico, permettendo a
            chiunque di scoprire nuovi talenti e partecipare a eventi unici e indimenticabili.</p>
        <h3>Un portale all'avanguardia</h3>
        <p class="text-black-50">Grazie alle più recenti tecnologie e l'uso di framework versatili e potenti, EventsForIndies è una piattaforma robusta, semplice e scalabile.
            Inoltre, è totalmente open-source, e chiunque può contribuire!</p>
        <h1 class="text-center">
            Sei un artista e vuoi aderire al progetto?
        </h1>
        <p> Scrivi pure a em.admin@proton.com</p>
    </div>

{% endblock content %}
