{% load static %}
<div class="list-group">
    {% if not user.is_organizer %}
    <a href="{% url 'tickets:list' %}" class="list-group-item list-group-item-action active">
        <img src="{% static 'img/icons/ticket.svg' %}" alt="TicketsLogo"> I tuoi biglietti
    </a>
    {% else %}
    <a href="{% url 'events:organizer_events_list' %}" class="list-group-item list-group-item-action active">
        <img src="{% static 'img/icons/events.svg' %}" alt="EventsLogo"> I tuoi eventi
    </a>
    {% endif %}
    <a href="{% url 'account:update' %}" class="list-group-item list-group-item-action">
        <img src="{% static 'img/icons/profile-manage.svg' %}" alt="ProfileManageLogo"> Modifica il tuo profilo
    </a>
    <a href="{% url 'account:password_change' %}" class="list-group-item list-group-item-danger list-group-item-action">
        <img src="{% static 'img/icons/password-entry.svg' %}" alt="PasswordChangeLogo"> Modifica la tua password
    </a>
</div>